<%= form_for @post, html: { multipart: true }  do |f| %>
    <% if @post.errors.any? %>
        <h2><%= pluralize(@post.errors.count, "error") %> stopped this post from saving</h2>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :body %> <br><br>
      <%= f.trix_editor :body%>
    </p>

    <p>
      <%= f.label :image %><br><br>
      <%= f.file_field :image %>
    </p>
    <br>
    <p>
      <%= f.submit %>
    </p>

<% end %>
